
$font-stack: Raleway, sans-serif;
$background-1: #e8ecee;
$background-2: #BDD5D5;
$color-1: #000;
$color-2: #777;
$color-3: #ccc;
$error-collor: rgba(217, 83, 79, 0.5);
$shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);

body {     
	font: 2em $font-stack; 
	background: $background-1;
}

.logo {
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

.main {
	background: $background-1;
	max-width: 700px;
	padding: 20px;
	margin: 0 auto; 
	margin-bottom: 100px;
	// text-align: center;
}

.main h2,
.main h3,
.main h4 {
	text-align: center;
	color: $color-2;
}

.input-form {
	background: $background-1;
}

.tabs {
	max-width: 500px;
	margin: 0 auto;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus  {
	background: $background-1;
	border: 1px solid $color-3;
	border-bottom: 1px solid $background-1;
	border-radius: 4px 4px 0 0

}

.nav-tabs > li > a {
	background: none;
	color: $color-2;
}

.nav-tabs > li > a:hover {
	background: none;
}

.nav-tabs {
	border: none;
}

.signin-input {
	margin-bottom: 20px;
}

.signup-input {
	margin-bottom: 20px;
}

.signup-btn {
	margin-bottom: 20px;
}

.sign-in-form label {
	display: inline;
}

.controll-label {
	width: 100%;
}

.input-warning {
	color: #d9534f;
}

.sign-in-native,
.sign-in-google,
.sign-up {
	max-width: 500px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.sign-in-native,
.sign-up {
	border: 1px solid $color-3;
	// border-top: none;
	padding: 10px
}

label.control-label {
	margin-top: 10px;
	margin-bottom: 10px;
}
label.control-label input {
	// border-radius: 0px;
}

.form-control {
	border-color: #fff;
	border-radius: 0px;
	-webkit-appearance: none;
	box-shadow: $shadow;
}

input.btn,
.signup-btn {
	border-radius: 0px;
    background-image: none;
    width: 50;
    display: block;
    margin: 0 auto;
}
.signup-btn {
	margin-bottom: 20px;
	width: 200px;
}

.signin-btn {
	width: 200px;
}

.progress {
	margin-bottom: 0px;
	border-radius: 0px;
	height: 10px;
}

//---- sign-in ----//
.issues {
	background: $error-collor;
	margin-bottom: 20px;
	padding: 15px;
	color: #fff;
	border-radius: 4px;
}

//---- buttons ----//
.btn-default {
	color: $color-2;
	background: $background-1;
	border-radius: 0px;
	width: 200px;
}

.btn-edit {
	display: block;
	margin: 0 auto;
}

.btn-cancel {
	background: $error-collor;
	border-radius: 0px;
	width: 200px;
	display: block;
	margin: 5px auto;
}
.btn-cancel:hover {
	background: rgb(217, 83, 79);
}

.btn-save {
	background: rgba(92, 184, 29, 0.5);
	border-radius: 0px;
	width: 200px;
	display: block;
	margin: 5px auto;
}

.btn-save:hover {
	background: #5cb85c;
}

//---- nav-bar ---//
nav.navbar-default {
	background: $background-1;
	border-bottom: 1px solid $color-2;
}

.sign-out {
	float: right;
}

//---- edit profile ----//
.edit-profile {
}

.profile-container {
	margin-top: 50px;
}

.profile-form {
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.edit-email,
.edit-username {
	// display: inline;
	background: $background-1;
}

.edit-controllbar {
	margin: 50px 0 0 0;
	padding: 5px;
	background: $background-1;
}

.user-img {
	border-radius: 50%;
	margin: 20px auto;
	// width: 100px;
	display: block;	
}

.user-img-editing {
	border: dashed $color-2 3px;
}

// .btn-edit {
// 	margin: 0 auto;
// }

// ---- create event ---- //
.event-form-group input,
.event-form-group textarea,
.event-form-group select, 
.event-form-group {
	width: 500px;
	// margin-left: auto;
	// margin-right: auto;
}

.event-input {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.event-form-group label {
	// text-align: center;
}

.date-input-group {
	margin-bottom: 15px;
}

.date-input {
	padding: 7px;
	width: 250px !important;
}

.date-input#event-start-time {
	margin-right:5px;
}

//---- datetime picker
::-webkit-inner-spin-button { 
	// display: none; 
}

.guests {
	width: 500px;
}

.add-btn {
	box-shadow: $shadow;
	border-radius: 0;
	width: 50px;
	margin-left:10px !important;
}

//---- browse events ----//
.events-container {
	margin-top: 50px;
}

.event {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: $shadow;
	padding: 5px 0 20px 0;
}

.event:hover {
	background: #d1d1d1;
}

// .event-map {
// 	width: 200px;
// 	height: 200px;
// }

.event-body {
	width: 400px;
	margin: 0 auto;
}

.modal-content {
	border-radius: 0px;
	width: 400px;
	margin: 0 auto
}

.user-img-thumb{
	border-radius: 50%;
}

// ---- mobile ---- //
@media (max-width: 768px) {
	.nav {
		padding-left: 15px;
		padding-right: 15px;
	}
	.container-fluid {
		padding: 0px;
	}

	.event-form-group input,
	.event-form-group textarea,
	.event-form-group select,
	.event-form-group {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.event-input {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.date-input {
		width: 300px !important;
	}

	.guests {
		width: 300px;
	}
}
