
$font-stack: Raleway, sans-serif;
$background-1: #9EB0B0;
$background-2: #BDD5D5;
$shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);

body {     font: 2em $font-stack; }

.logo {
	text-align: center;
}
.nav {
	// max-width: 700px;
}

.main {
	background: $background-1;
	max-width: 700px;
	padding: 20px;
	margin: 0 auto; 
	// text-align: center;
}

.main h2 {
	text-align: center;
}

.input-form {
	background: $background-1;
	// max-width: 700px;
}

.signin-input {
	margin-bottom: 20px;
}

.signup-input {
	margin-bottom: 20px;
}

.signup-btn {
	margin-bottom: 20px;
}

.sign-in-form label {
	display: inline;
}

.controll-label {
	width: 100%;
}

.input-warning {
	color: #d9534f;
}

.sign-in-native,
.sign-in-google,
.sign-up {
	max-width: 500px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

label.control-label {
	margin-top: 10px;
	margin-bottom: 10px;
}
label.control-label input {
	// border-radius: 0px;
}

.form-control {
	border-color: #fff;
	border-radius: 0px;
	-webkit-appearance: none;
	box-shadow: $shadow;
}

input.btn,
.signup-btn {
	border-radius: 0px;
    background-image: none;
    width: 50;
    display: block;
    margin: 0 auto;
}
.signup-btn {
	margin-bottom: 20px;
}

.progress {
	margin-bottom: 0px;
	border-radius: 0px;
	height: 10px;
}

//---- edit profile ----//
.edit-email {
	// display: inline;
}

.edit-controllbar {
	margin-top: 50px;
}

// ---- create event ---- //
.event-form-group input,
.event-form-group textarea,
.event-form-group select, 
.event-form-group {
	width: 500px;
	// margin-left: auto;
	// margin-right: auto;
}

.event-input {
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.event-form-group label {
	// text-align: center;
}

.date-input-group {
	margin-bottom: 15px;
}

.date-input {
	// padding: 0;
	width: 250px;
}

.add-btn {
	box-shadow: $shadow;
}

// ---- browse events ----//
.event {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: $shadow;
}

.event:hover {
	background: #d1d1d1;
}

// .event-map {
// 	width: 200px;
// 	height: 200px;
// }

.angular-google-map-container { 
	height: 400px; 
}

// ---- mobile ---- //
@media (max-width: 768px) {
	.nav {
		padding-left: 15px;
		padding-right: 15px;
	}
	.container-fluid {
		padding: 0px;
	}

	.event-form-group input,
	.event-form-group textarea,
	.event-form-group select,
	.event-form-group {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.event-input {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}
