<div class="main" ng-controller="HomeController as vm">
	<ul class="nav nav-tabs tabs">
		<li role="presentation" 
			class="tab active" 
			id="sign-in-tab" 
			ng-init="signInActive = true" 
			ng-click="signInActive = true; focusService.focus('#sgn-email')" 
			ng-class="{active: signInActive}">
			<a href="">Sign in</a>
		</li>
		<li role="presentation" 
			id="sign-up-tab" 
			ng-click="signInActive = false; focusService.focus('#inp-name')" 
			ng-class="{active: !signInActive}">
			<a href="">Create an account</a>
		</li>
	</ul>

	<div ng-show="signInActive">
		<sign-in-directive></sign-in-directive>
	</div>

	<div ng-show="!signInActive">
		<sign-up-directive></sign-up-directive>
	</div>
</div>