
<div class="sign-up" ng-controller="SignUpController as vm">
	<form class="input-form form-group container-fluid" 
		  name="signUpForm" 
		  ng-submit="vm.createAccount(vm.checkValidation())"
		  novalidate>
	
		<div class="row event-input">
			<div class="col-sm-12 event-form-group form-group" 
				 ng-class="{'has-error': !vm.validation.name && vm.validation.name != null}">
				<label class="controll-label" for="inp-name">
					<p class="text-danger" 
					   ng-show="!vm.validation.name && vm.validation.name != null">please enter your name</p>
					<input type="text" 
						   name="name" 
						   id="inp-name"
						   class="form-control signup-input"
						   placeholder="Name"
						   ng-model="vm.data.name"
						   ng-init="vm.validation.name = null"
						   ng-change="vm.validation.name = vm.checkValidationService.validate(vm.data.name, 'text')"
						   ng-blur="vm.validation.name = vm.checkValidationService.validate(vm.data.name, 'text')"
						   required>

				</label>
			</div>
		</div>

		<div class="row event-input">
			<div class="col-sm-12 event-form-group form-group" 
				 ng-class="{'has-error': !vm.validation.email && vm.validation.email != null}">
				<label class="controll-label" for="inp-email">
					<p class="text-danger" 
					   ng-show="!vm.validation.email && vm.validation.email != null">please enter a valid email</p>
					<input type="email" 
						   name="email"
						   id="inp-email"
						   class="form-control signup-input"
						   placeholder="Email"
						   ng-model="vm.data.email"
						   ng-init="vm.validation.email = null"
						   ng-blur="vm.validation.email = vm.checkValidationService.validate(vm.data.email, 'email')"
						   ng-change="vm.validation.email = vm.checkValidationService.validate(vm.data.email, 'email')"
						   required>
				</label>
			</div>
		</div>

		<div class="row event-input">
			<div class="col-sm-12 event-form-group form-group" 
				 ng-class="{'has-error': !vm.validation.password && vm.validation.password != null}">
				 <ul class="password-info">
				 	<p>Your password should include the following:</p>
				 	<li ng-class="{ 'text-success': vm.passwordStatus.hasUpper === true }">Uppercase character
				 		<span ng-show="vm.passwordStatus.hasUpper" 
			 				  class="glyphicon glyphicon-ok">
				 		</span>
			 		</li>
				 	<li ng-class="{ 'text-success': vm.passwordStatus.hasLower === true }">Lowercase character
				 		<span ng-show="vm.passwordStatus.hasLower" 
				 			  class="glyphicon glyphicon-ok">
				 		</span>
			 		</li>
				 	<li ng-class="{ 'text-success': vm.passwordStatus.hasNumber === true }">At least one number
					 	<span ng-show="vm.passwordStatus.hasNumber" 
				 			  class="glyphicon glyphicon-ok">
				 		</span>
			 		</li>
				 	<li ng-class="{ 'text-success': vm.passwordStatus.characters === true }">At least one of these characters: !, @, #, $, %, ^, &, *
				 		<span ng-show="vm.passwordStatus.characters" 
			 			 	  class="glyphicon glyphicon-ok">
				 		</span>
			 		</li>
				 </ul>
				<label class="controll-label" for="inp-password">
					<p class="text-danger" 
					   ng-show="!vm.validation.password && vm.validation.password != null">make sure to enter a password at least 6 characters long</p>
					<div class="progress">	   
					  <div class="progress-bar" 
					  	   role="progressbar" 
					  	   aria-valuenow="0" 
					  	   aria-valuemin="0" 
					  	   aria-valuemax="100" 
					  	   ng-style="{width: vm.passwordProgress}">
					    <span class="sr-only">0% Complete</span>
					  </div>
					</div>
					<input type="password" 
						   name="password"
						   id="inp-password"
						   class="form-control signup-input"
						   placeholder="Enter a password"
						   ng-model="vm.privateData.password1"
						   ng-init="vm.validation.password = null"
						   ng-blur="vm.validation.password = vm.checkValidationService.validate(vm.privateData.password1, 'password')"
						   ng-change="vm.passwordStrength(vm.privateData.password1); vm.checkValidationService.validate(vm.privateData.password1, 'password')"
						   required>				
				</label>
			</div>
		</div>

		<div class="row event-input">
			<div class="col-sm-12 event-form-group">
				<label class="controll-label" for="inp-password-rep">
					<input type="password" 
						   name="password-rep"
						   id="inp-password-rep"
						   class="form-control signup-input"
						   placeholder="Repeat password"
						   ng-model="vm.privateData.password2">
				</label>
			</div>
		</div>

		<div class="row event-input">
			<div class="col-sm-12 event-form-group">
				<label class="control-label" for="inp-description">
					<textarea id="inp-description"
							  name="profile-description"
							  class="form-control signup-input description"
							  placeholder="optional profile description"
							  ng-model="vm.data.profileDescription"
							  rows="5">
					</textarea>
				</label>
			</div>
		</div>

		<div class="issues" ng-show="vm.issues">
			<div class="issue" ng-repeat="issue in vm.issues">{{issue}}</div>
		</div>

		<section class="submit-form">
			<button id="submit" 
					type="submit" 
				    class="btn btn-default signup-btn"
				    ng-disabled="">Submit
			</button>
		</section>

	</form>
</div>