<div class="sign-in-native" ng-controller="SignInController as vm">
	<form class="sign-in-form container-fluid"
		  name="signInForm"
		  ng-submit="vm.signIn(vm.email, vm.password, vm.checValidation())"
		  novalidate>

		<div class="row">
			<div class="col-sm-12 event-form-group form-group" 
				 ng-class="{ 'has-error' : !vm.validation.email && vm.validation.email != null }">	
				<label class="controll-label" for="sgn-email">
					<p class="text-danger" 
					   ng-show="!vm.validation.email && vm.validation.email != null">Enter your email</p>
					<input type="email" 
						   name="sgn-email" 
						   id="sgn-email"
						   class="form-control signin-input"
						   autocomplete="email" 
						   placeholder="Email"
						   ng-model="vm.email"
						   ng-init="vm.validation.email = null"
						   ng-change="vm.validation.email = vm.checkValidationService.validate(vm.email, 'email')"
						   ng-blur="vm.validation.email = vm.checkValidationService.validate(vm.email, 'email')"
						   autofocus 
						   required>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 event-form-group form-group"
				 ng-class="{ 'has-error' : !vm.validation.password && vm.validation.password != null }">	
				<label class="controll-label" for="sgn-password">
					<p class="text-danger"
					   ng-show="!vm.validation.password && vm.validation.password != null">please enter your password</p>
					<input type="password"
						   name="password"
						   id="sgn-password"
						   class="form-control signin-input" 
						   placeholder="Password"
						   ng-model="vm.password"
						   ng-init="vm.validation.password = null"
						   ng-blur="vm.validation.password = vm.checkValidationService.validate(vm.password, 'password')"
						   required>
				</label>
			</div>
		</div>

		<label class="controll-label">
			<button type="submit" 
				   name="sign-in-btn" 
				   class="btn btn-default signin-btn"
				   
				   ng-disabled="">Sign in</button>
		</label>

	</form>
	<div class="issues" ng-show="vm.issues">
		<div class="issue" ng-repeat="issue in vm.issues">{{issue}}</div>
	</div>
	<div class="issues" ng-show="vm.error">{{vm.error}}</div>
</div>