<div ng-controller="SignInController as vm">
	<div class="sign-in-native">Sign in
		<form class="sign-in-form form-group">

			<label class="controll-label" for="sgn-email">
				<input type="email" 
					   name="sgn-email" 
					   id="sgn-email"
					   class="form-control signin-input"
					   autocomplete="email" 
					   placeholder="email"
					   ng-model="vm.email"
					   autofocus
					   required>
			</label>

			<label class="controll-label" for="sgn-password">
				<input type="password"
					   name="password"
					   id="sgn-password"
					   class="form-control signin-input" 
					   placeholder="password"
					   ng-model="vm.password"
					   required>
			</label>

			<label class="controll-label">
				<input type="submit" 
					   name="sign-in-btn" 
					   class="btn btn-default"
					   value="Sign in"
					   ng-click="vm.signIn(vm.email, vm.password)">
			</label>

		</form>
	</div>

	<div class="sign-in-google">Sign in w/ Google
		<div class="g-signin2" data-onsuccess="onSignIn"></div>
	</div>
</div>