body {
  font: 2em Raleway, sans-serif; }

.logo {
  text-align: center; }

.main {
  background: #9EB0B0;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto; }

.input-form {
  background: #9EB0B0; }

.sign-in-form label {
  display: inline; }

.controll-label {
  width: 100%; }

.input-warning {
  color: #d9534f; }

.sign-in-native,
.sign-in-google,
.sign-up {
  max-width: 500px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

label.controll-label {
  margin-top: 10px;
  margin-bottom: 10px; }

label.controll-label input {
  border-radius: 0px; }

input.btn {
  border-radius: 0px;
  background-image: none;
  width: 50;
  display: block;
  margin: 0 auto; }

.progress {
  margin-bottom: 0px;
  border-radius: 0px;
  height: 10px; }

.sign-up button.btn {
  display: block; }

.edit-controllbar {
  margin-top: 50px; }

.event-form-group input,
.event-form-group textarea,
.event-form-group select,
.event-form-group {
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 768px) {
  .event-form-group input,
  .event-form-group textarea,
  .event-form-group select,
  .event-form-group {
    width: 300px;
    margin-left: auto;
    margin-right: auto; } }
