body {
  font: 2em Raleway, sans-serif;
  background: #e8ecee; }

.logo {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px; }

.main {
  background: #e8ecee;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto; }

.main h2,
.main h3 {
  text-align: center;
  color: #777; }

.input-form {
  background: #e8ecee;
  margin-top: 50px; }

.signin-input {
  margin-bottom: 20px; }

.signup-input {
  margin-bottom: 20px; }

.signup-btn {
  margin-bottom: 20px; }

.sign-in-form label {
  display: inline; }

.controll-label {
  width: 100%; }

.input-warning {
  color: #d9534f; }

.sign-in-native,
.sign-in-google,
.sign-up {
  max-width: 500px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto; }

label.control-label {
  margin-top: 10px;
  margin-bottom: 10px; }

.form-control {
  border-color: #fff;
  border-radius: 0px;
  -webkit-appearance: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

input.btn,
.signup-btn {
  border-radius: 0px;
  background-image: none;
  width: 50;
  display: block;
  margin: 0 auto; }

.signup-btn {
  margin-bottom: 20px;
  width: 200px; }

.signin-btn {
  width: 200px; }

.progress {
  margin-bottom: 0px;
  border-radius: 0px;
  height: 10px; }

.btn-default {
  color: #777;
  background: #e8ecee; }

.btn-cancel {
  background: rgba(217, 83, 79, 0.5); }

.btn-cancel:hover {
  background: #d9534f; }

.btn-save {
  background: rgba(92, 184, 29, 0.5); }

.btn-save:hover {
  background: #5cb85c; }

nav.navbar-default {
  background: #e8ecee;
  border-bottom: 1px solid #777; }

.edit-email,
.edit-username {
  background: #e8ecee; }

.edit-controllbar {
  margin: 50px 0 0 0;
  padding: 5px;
  background: #e8ecee; }

.user-img {
  border-radius: 50%;
  margin: 20px auto;
  display: block; }

.user-img-editing {
  border: dashed #777 3px; }

.user-img-thumb {
  border-radius: 50%; }

.sign-out {
  float: right; }

.event-form-group input,
.event-form-group textarea,
.event-form-group select,
.event-form-group {
  width: 500px; }

.event-input {
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

.date-input-group {
  margin-bottom: 15px; }

.date-input {
  width: 250px; }

.add-btn {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0; }

.event {
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.event:hover {
  background: #d1d1d1; }

.angular-google-map-container {
  height: 400px; }

@media (max-width: 768px) {
  .nav {
    padding-left: 15px;
    padding-right: 15px; }
  .container-fluid {
    padding: 0px; }
  .event-form-group input,
  .event-form-group textarea,
  .event-form-group select,
  .event-form-group {
    width: 300px;
    margin-left: auto;
    margin-right: auto; }
  .event-input {
    width: 300px;
    margin-left: auto;
    margin-right: auto; } }
